/* Reset to default*/
* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    text-align: justify;
    background-color: rgb(218, 218, 218);
}

a {
    text-decoration: none;
}

/* Styling */
html {
    display: flex;
    justify-content: center;
}

body {
    flex: 0 1 60%;
    overflow: auto;
}

@media (max-width: 950px) {
    body {
        flex: 0 1 70%;
        overflow: auto;
    }
}

@media (max-width: 770px) {
    body {
        flex: 0 1 80%;
        overflow: auto;
        text-align: left;
    }
    * {
        text-align: left;
    }
}

@media (max-width: 550px) {
    body {
        flex: 0 1 90%;
        overflow: auto;
    }
    * {
        text-align: left;
    }
}

.bulletin {
    flex-flow: row wrap;
}

nav ul, footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    text-align: center;
}

.content {
    border: 2px solid rgb(104, 154, 163);
}

nav li, footer li {
    padding: 10px;
    text-align: left;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: #5B7FC5;
}

h3, h4, h5 {
    font-size: 24px;
    font-weight: 200;
    color: #5B7FC5;
}

header img {
    width: 80%;
    height: auto;
}

img {
    width: 150px;
    height: 175px;
}

.cite {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.cite section {
    margin-left: 15px;
    width: 400px;
}

figure {
    padding: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption {
    text-align: center;
    
}

footer {
    margin-top: 50px;
}

a {
    color: rgb(104, 154, 163);
}

a:hover {
    color: blueviolet;
    text-decoration: underline;
}

.bulletin a:visited, footer a:visited {
    color: rgb(216, 160, 56);
}

table {
    margin-bottom: 100px;
}